.modal-div > h2 {
    margin: 5px 10px;
    font-size: 1.75em;
    text-align: center;
    font-family: 'EB Garamond';
}

.recipe-details-div {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.recipe-details-inside-div {
    width: 100%;
    max-width: 50%;
    /* margin-top: 10px; */
}