.screen-div {
	height: 100vh;
    object-fit:contain;
    filter: blur(1px);
    background-size: cover;
    background-image: url('..\\..\\public\\img\\sightimg\\kyiv.jpg');
    z-index: -1;
}

.form-div > * {
    margin: 0px 10px 10px 10px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
    font-size: 1.1em;
}

.login-icon {
    /* width: 128px; */
    height: 128px;
}

.login-button-main {
    margin:auto;
    position: absolute;
    top:10px;
    right: 15px;
    width: 230px;
    height: 40px;
    background-color: #004478;
    color: white;
    border-radius: 10px;
    font-weight: 600;
    border: none;
    padding: 0px 15px;
    transition: background-color 0.15s;
    font-size: 1.25em;
    align-items: center;
    display: flex;
    align-items: center;
}

.login-button-main:hover {
    background-color: #005698;
}

.login-button-main:active {
    background-color: #1071bc;
}

.admin-button-main {
    margin:auto;
    position: absolute;
    top:10px;
    left: 15px;
    width: 60px;
    height: 40px;
    background-color: #004478;
    color: white;
    border-radius: 10px;
    border: none;
    transition: background-color 0.15s;
    display: flex;
    justify-content: center;
    align-items: center;
}
.admin-button-main > * {
    margin: 0;
    padding: 0;
}

.admin-button-main:hover {
    background-color: #005698;
}

.admin-button-main:active {
    background-color: #1071bc;
}

.form-div {
    margin:auto;
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: grid;
    height: 220px;
    width: 400px;
    background-color: #f7f8ff88;
    backdrop-filter: blur(4px);
    padding: 20px;
    border-radius: 5px;
}

.grid-form-div {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1.2fr 1fr 1.3fr 2fr;
}

.form-lbl-where {
    grid-column-start: 1;
    grid-column-end: 3;
    font-weight: 600;
    font-size: 1.2em;
}

.form-inp-where {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 2;
    font-size: 1.15em;
}

.form-lbl-from {
    grid-column-start: 1;
    grid-row-start: 3;
}

.form-lbl-to {
    grid-column-start: 2;
    grid-row-start: 3;
}

.form-inp-from {
    grid-column-start: 1;
    grid-row-start: 4;
}

.form-inp-to {
    grid-column-start: 2;
    grid-row-start: 4;
}

.form-button {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 5;
    background-color: #002b4c;
    color: white;
    border-radius: 10px;
    font-weight: 600;
    border: none;
    padding: 0px 15px;
    transition: background-color 0.15s;
    font-size: 1.25em;
    align-items: center;
    justify-content: space-around;
    display: flex;
    margin-top: 10px;
}

.form-button:hover {
    background-color: #004478;
}

.form-button:active {
    background-color: #005698;
}

input {
    background-color: #ffffff88;
    border: none;
    border-radius: 4px;
    transition: transform 0.7s;
}

input:hover {
    transform: scale(1.05);
}

.img-link {
    position: absolute;
    top: 100%;
    color: white;
    transform: translate(0, -100%);
    padding: 10px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 0.9em;
}

.img-link > * {
    color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}