.plan-page {
    display: grid;
    grid-template-columns: 1fr 7fr 15fr;
    height: 100%;
    width: 100%;
}

.plan-list {
    grid-column-start: 2;
    overflow: auto;
    z-index: 5;
    padding-bottom: 20px;
}

.plan-map {
    grid-column-start: 3;
    height: 97%;
    margin-left: 15px;
    width: 65.6%;
    right: 0;
    bottom: 0;
    /* left: 33.33%; */
    position: fixed;
    z-index: -20;
}
  
.map-container {
    height: 100%;
    width: 100%;
    border-radius: 10px;
    /* border-top: 2px black solid; */
}

.plan-menu {
    justify-self: center;
}

.edit-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
    /* margin-top: 50px; */
}

.edit-div > * {
    margin: 20px;
    margin-bottom: 0px;
    font-size: 1.1em;
}

.edit-submit-button {
    /* margin: 10px; */
    background-color: #002b4c;
    color: white;
    border-radius: 10px;
    font-weight: 600;
    border: none;
    padding: 5px 15px;
    max-height: 32px;
    transition: background-color 0.15s;

    /* align-self: center; */
    /* justify-content: space-around; */
    /* position: fixed; */
    /* transform: translateX(-50%); */
    /* bottom: 10%; */
    /* left: 50%; */
}

.edit-submit-button:hover {
    background-color: #004478;
}

.edit-submit-button:active {
    background-color: #005698;
}

.plan-weather {
    position: fixed;
    display: flex;
    top: -8%;
    left: 34.5%;
    height: 10%;
    width: 65.1%;
    /* margin-right: 5px; */
    margin-left: 3px;
    background-color: #f0f0ffe2;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.05), 0 6px 20px 0 rgba(0, 0, 0, 0.1);
    /* border-left: solid 20px ; */
    /* border-image: linear-gradient(to right, #000 20%, transparent 92%) 1 100%; */
    box-sizing: border-box;
    overflow-y: hidden;
    overflow-x: scroll;
    padding-top: 5px;
    padding-bottom: 5px;
    /* margin-left: 15px; */
    /* border: 1px solid black; */
    -webkit-overflow-scrolling: touch;
    border-radius: 10px;
    z-index: 0;
    justify-content: center;
    /* justify-content: space-between; */
    /* transform-style: preserve-3d; */
    /* clip: rect(0, auto, auto, 0); */
    align-items: center;
    transition: transform 0.75s;
}

.plan-weather:hover {
    transform: translateY(85%);
}

.plan-weather::-webkit-scrollbar {
    display: none;
}

.plan-weather > p {
    font-size: 1.25em;
    margin: 5px;
    max-width: 150px;
    text-align: right;
    /* align-self: center; */
    font-family: 'Exo 2';

}

.weather-filler {
    position: fixed;
    /* border: 1px black solid; */
    height: 100%;
    left: 0;
    width: 15%;
    background: linear-gradient(to right, #fff 80%, transparent 92%);
}