.plan-page {
    display: grid;
    grid-template-columns: 1fr 7fr 15fr;
    height: 100%;
    width: 100%;
}

.plan-list {
    grid-column-start: 2;
    overflow: auto;
    z-index: 5;
}

.plan-map {
    grid-column-start: 3;
    height: 100%;
    margin-left: 15px;
    width: 65.6%;
    left: 33.33%;
    position: fixed;
}
  
.map-container {
    height: 100%;
    width: 100%;
}

.plan-menu {
    justify-self: center;
}